h1::first-letter{
    font-size: 2.1em;
    font-style: italic;
}
p::first-line {
    background-color: pink;
}
p::selection{
    color: white;
    background-color: cadetblue;
}
#a::after{
    content: "🍎";
}
#o::after{
    content: "🍊";
}
#m::after{
    content: "🥭";
}
#fruit li::marker{
    content:"✔";
    color: pink;
    font-size: 1.5em; 
}
