body{
    margin: 15px;
    border: 3px solid black
    

}
.box{
    border: 0px;
    background-color: beige;
    margin:auto;
}
h1{
    margin-left: 30px;
}
#bar1{
    margin-left: 100px;
}
#bar2{
    margin-left: 120px;
}

#bar3{
    margin-left: 140px;
}
